In [3]:
import numpy as np
import pandas as pd

In [5]:
pd.read_csv('/home/aiying/Desktop/sec7quiz1.csv')

    Student ID                 Student Name  Unnamed: 2
0       asa165             Aboukoura, Ahmed         NaN
1       ma1433    Agyemang-Amoako, Michelle         NaN
2        rsa99                Ahmed, Rohail        10.0
3        rra76           Aleshetty, Rithvik         NaN
4        na557                   Ali, Noman        16.0
5        yb199                Badiev, Yusup         NaN
6       keb195               Baghal, Keenan         NaN
7       jlb638                 Baker, James         NaN
8       akb128              Baldes, Anthony         NaN
9        edb81            Belaya, Elizaveta        12.0
10      jhb156              Benskins, Jared         NaN
11       tb614            Boddupalli, Tarun        24.0
12       ldb90               Brahmia, Laila         NaN
13      esb109                Brauner, Ezra         NaN
14      arc274            Calvelli, Abigail         NaN
15      jmc803               Cariaga, Jason         NaN
16      ac1675  Cassidy-Dowd, Anthony-James        21.0
17      jrc377            Cattuna, Jonathan         NaN
18      ac1073             Chamorro, Andres         NaN
19       atc97              Chandra, Anjana         NaN
20      jc2426                Chen, Jeffrey         NaN
21      mc2115                   Chen, Mark         NaN
22       wc470                Chen, Weihong         NaN
23      sc1784               Cheung, Sidney         NaN
24       soc13               Chicas, Steven         NaN
25      jwc147                 Chiou, Jared        22.0
26      jc2001                   Chiu, Jack        24.0
27      cc1465                Chomba, Cesar         NaN
28        zpc6           Christoff, Zachary         NaN
29       sbc99              Cochrane, Scott        21.0
..         ...                          ...         ...
148      pet27                Tilton, Peter         NaN
149      drt67            Tolentino, Daniel         NaN
150      dtt42                 Tong, Donald         NaN
151      hat41             Troast, Harrison         NaN
152      elw90                 Wang, Edward        20.0
153     jw1139                Wang, Jingyun         NaN
154      lw531                 Wang, Lantao         NaN
155      rrw56                 Wen, Richard        24.0
156      ncw32             Whelan, Nicholas         NaN
157     tmw134            Wildberger, Tyler        21.0
158     emw160                Wireman, Evan         NaN
159      sw828                  Wu, Shangda         NaN
160      yw607                 Wu, Yuanqing         NaN
161       tx39                   Xing, Tian         NaN
162       chx1               Xiong, Charles         NaN
163      ly223                  Yang, Liyan        21.0
164      tly15                  Yang, Tracy         NaN
165      wy175                Yang, Wonjoon        24.0
166      yy490                 Yang, Yuchen         NaN
167      zy154                    Ye, Zihan         NaN
168      mjy37                 Yen, Michael         NaN
169      mry18              Youssif, Marcus        16.0
170      yy465                     Yu, Ying         NaN
171       inz3                  Zane, Ilana         NaN
172      cz248              Zhang, Chenzhen         NaN
173      yz745                 Zhang, Yifan        23.0
174      zz249             Zhang, Zhengyang         8.0
175      yz756                 Zhou, Yongqi        21.0
176      zz309                    Zhu, Ziqi         5.0
177      mfz17               Zurlo, Michael         NaN

[178 rows x 3 columns]